[submodule "starkgate contracts 2.0.1"]
    path = starkgate-contracts-2-0-1
    url = https://github.com/starknet-io/starkgate-contracts
    branch = cairo-1
[submodule "starkgate contracts 0.9.0"]
    path = starkgate-contracts
    url = https://github.com/starknet-io/starkgate-contracts
    branch = update-cairo-0.9.0