---
name: Task - Test Bridge

on:
  workflow_dispatch:
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  test_bridge:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # selecting a toolchain either by action or manual `rustup` calls should happen
      # before the plugin, as the cache uses the current rustc version as its cache key
      - run: rustup show

      - uses: Swatinem/rust-cache@v2

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run anvil
        run: |
          anvil </dev/null &>/dev/null &

      - name: Run madara
        run: |
          cd bin
          echo "Running madara...."
          ./run_madara.sh

      - name: Clean workspace
        run: |
          cargo llvm-cov clean --workspace

      - name: Run llvm-cov
        run: |
          cargo llvm-cov nextest --release --lcov --output-path lcov.info

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          files: lcov.info
          debug: true

      - name: Upload coverage report to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          files: lcov.info
          debug: true
